<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>.::IntegracionContinua::.</title>
            </f:facet>
        </h:head>
        
        <h:body>
            <p:growl id="mensajes" showDetail="true" life="2000" />
            <h:form id="form" style="background-color: #1BA39C">
                <p:panel id="panel" header="Form" style="margin-bottom:10px;background-image:url(src/logo-ingeneo-intranet_1.png); background-repeat:no-repeat;background-position: 90% 50%;">
<!--                    <p:messages id="mensajes" />-->
                    <h:panelGrid columns="1" cellpadding="7">
                        <p:outputLabel  value="¿Para que se utiliza la Integracion Continúa?" style="color: whitesmoke" />
                        <p:inputTextarea rows="8" cols="30"  queryDelay="750" minQueryLength="4" value="#{myBean.gusto}" />
                        
                        <p:outputLabel  value="¿Cual es la herramienta de integracion que usted usa?" style="color: whitesmoke"/>
                        <p:selectOneMenu id="console" value="#{myBean.herramienta}" style="width:125px" required="true" label="Select">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Sonar" itemValue="Sonar" />
                            <f:selectItem itemLabel="Selenium" itemValue="Selenium" />
                            <f:selectItem itemLabel="Arquillian" itemValue="Arquillian" />
                            <f:selectItem itemLabel="jenkins" itemValue="jenkins" />
                        </p:selectOneMenu>
                        
                        <p:outputLabel  value="Correo Electronico: " style="color: whitesmoke"/>
                        <p:inputText id="text2" value="#{myBean.correo}" required="true" label="correo"/>
                        
                    </h:panelGrid>
                </p:panel>
                
                <p:toolbar>
                    <f:facet name="left">
                        <p:commandButton value="Save" update=":mensajes" actionListener="#{myBean.save}" style="margin-right:20px;" />
                        <p:commandButton value="back"  action="index.xhtml" style="margin-right:50px;" />
                    </f:facet>
                </p:toolbar>
            </h:form>
        </h:body>
        
    </f:view>
</html>

