<?xml version="1.0" encoding="UTF-8"?>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body style="text-align:center;background:#6C7A89">
        
        <p:growl id="mensajes" showDetail="true" life="2000" />
        <h:form style=";margin: 12em 32em;">
            <p:panel header="Login" style="width:300px">
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="username" value="Usuario:" style="color: whitesmoke"/>
                    <p:inputText value="#{myBean.username}" id="username"
                                 required="true" label="username" />
                    <h:outputLabel for="password" value="Clave:" style="color: whitesmoke"/>
                    <p:password value="#{myBean.password}" id="password" required="true"
                                label="password" />
                    <f:facet name="footer">
                        <p:commandButton  value="Login"  action="#{myBean.login}" update=":mensajes" />
                    </f:facet>
                </h:panelGrid>
            </p:panel>
        </h:form>
        
    </h:body>

</html>